@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
    header {
        .header {
            grid-template-columns: 140px 155px 170px 175px 190px;
            column-gap: 20px;
            &__country {
                grid-template-columns: 1fr;
                span {
                    margin: 5px 0;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    header {
        .header {
            padding: 5px 0;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: minmax(105px, auto);
            column-gap: 5px;
            &__country {
                grid-template-rows: 33px 90px;
                &-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
        }
    }
    .promo {
        &__menu{
            &-items {
                justify-content: space-around;
            }
        }
        &__img {
            width: 282px;
            height: 370px;
        }
    }
}



@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header {
        display: none;
    }
    .promo {
        &__top{
            grid-template-columns: 1fr;
            grid-template-rows: 65px auto;
            row-gap: 30px;
        }
        &__menu {
            justify-content: end;
            width: 480px;
            &-items {
                justify-content: space-between;
                a {
                    font-size: 14px;
                }
            }
        }
        &__title {
            margin-top: 85px;
        }
        &__img {
            width: 232px;
            height: 304px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .hamburger {
        display: flex;
    }
    .promo {
        padding-top: 10px;
        &__top {
            grid-template-rows: 65px;
        }
        &__menu {
            display: none;
        }
        &__title {
            margin-top: 190px;
            width: 100%;
            font-size: 34px;
            line-height: 40px;
        }
        &__subtitle{
            font-size: 21px;
            width: 100%;
        }
        &__img {
            display: none;
        }
        &__btn {
            display: block;
            margin: 50px auto 0 auto;
        }
        &__slider {
            bottom: 20px;
            &-prev, &-next {
                display: none;
            }
        }
    }
}