@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
    header {
        .header {
            grid-template-columns: 140px 155px 170px 175px 190px;
            column-gap: 20px;
            &__country {
                grid-template-columns: 1fr;
                span {
                    margin: 5px 0;
                }
            }
        }
    }
    .compare {
        &__wrapper {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    header {
        .header {
            padding: 5px 0;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: minmax(105px, auto);
            column-gap: 5px;
            &__country {
                grid-template-rows: 33px 90px;
                &-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
        }
    }
    .promo {
        &__menu{
            &-items {
                justify-content: space-around;
            }
        }
        &__img {
            width: 282px;
            height: 370px;
        }
    }
    .compare {
        &__item {
            &-text {
                width: 100%;
                font-size: 17px;
            }
        }
    }
    .offer {
        &__tabs {
            width: 100%;
            grid-template-columns: 135px 100px 150px 125px 90px 90px;
            justify-content: center;
        }
        &__slider {
            &-prev, &-next {
                top: 39%;
                left: 15px;
            }
            &-next {
                left: unset;
                right: 15px;
            }
        }
        &__slide {
            width: 100%;
        }
    }
}



@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header {
        display: none;
    }
    .promo {
        &__top{
            grid-template-columns: 1fr;
            grid-template-rows: 65px auto;
            row-gap: 30px;
        }
        &__menu {
            justify-content: end;
            width: 480px;
            &-items {
                justify-content: space-between;
                a {
                    font-size: 14px;
                }
            }
        }
        &__title {
            margin-top: 85px;
        }
        &__img {
            width: 232px;
            height: 304px;
        }
    }
    .compare {
        &__wrapper {
            grid-template-columns: repeat(2, 255px);
            grid-template-rows: repeat(2, 255px);
            grid-auto-rows: 255px;
            gap: 20px;
        }
        &__item {
            &-text {
                padding: 0 10px;
            }
            &:nth-child(3) {
                grid-column: 1 / 3;
            }
        }
    }
    .offer {
        &__title {
            width: 100%;
        }
        &__tabs {
            grid-template-columns: repeat(6, 1fr);
        }
        &__tab {
            text-align: center;
        }
        &__slider {
            &-prev, &-next {
                display: none;
            }
        }
        &__slide {
            width: 100%;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .hamburger {
        display: flex;
    }
    .promo {
        padding-top: 10px;
        &__top {
            grid-template-rows: 65px;
        }
        &__menu {
            display: none;
        }
        &__title {
            margin-top: 190px;
            width: 100%;
            font-size: 34px;
            line-height: 40px;
        }
        &__subtitle{
            font-size: 21px;
            width: 100%;
        }
        &__img {
            display: none;
        }
        &__btn {
            display: block;
            margin: 50px auto 0 auto;
        }
        &__slider {
            bottom: 20px;
            &-prev, &-next {
                display: none;
            }
        }
    }
    .compare {
        margin-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 255px);
            gap: 20px;
        }
        &__item {
            &:nth-child(3) {
                grid-column: unset;
            }
        }
    }
    .offer {
        margin-top: 40px;
        padding: 40px 0;
        &__title {
            font-size: 24px;
        }
        &__tabs {
            margin-top: 60px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 65px);
            grid-auto-rows: 65px;
            border: none;
        }
        &__tab {
            height: 49px;
            font-size: 13px;
            &:nth-child(4){
                border: none;
            }
        }
        &__slider {
            margin-top: 90px;
        }
    }
}