.option {
    background: url('../img/option/option_bg.jpg') center/cover no-repeat;
    margin-top: 80px;
    padding-top: 79px;
    min-height: 580px;
    &__title {
        display: block;
        margin: 0 auto;
        width: 373px;
        text-align: center;
    }
    &__wrapper {
        margin-top: 90px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 165px;
    }
    &__item {
        &-title {
            position: relative;
            margin-top: 38px;
            text-align: right;
            text-transform: uppercase;
            z-index: 10;
            &::after {
                content: '';
                display: block;
                position: absolute;
                right: -39px;
                top: -34px;
                width: 167px;
                height: 167px;
                background-color:#00c2f0;
                opacity: 0.25;
                z-index: -1;
            }
            &_right {
                text-align: left;
                &::after {
                    right: unset;
                    left: -39px;
                }
            }
        }
        &-text {
            position: relative;
            margin-top: 10px;
            color: #ffffff;
            font-size: 18px;
            font-weight: 300;
            line-height: 26px;
            text-align: right;
            z-index: 10;
            &_right {
                text-align: left;
            }
        }
    }
}